@inherits PanelComponent
@namespace SBRacer.Ui

<root>
	@{
		if ( Player.Local.Racing || Player.Local.Driving.IsValid() )
		{
			<Speedometer/>
			<RaceCountdown/>
			
			if ( RaceGame.Instance.State == GameState.Racing )
			{
				<LapInformation/>
			}
		}

		if ( !Player.Local.Racing && RaceGame.Instance.State is GameState.Waiting )
		{
			<div class="queue-countdown">
				@{
					var waitTimeRemaining = RaceGame.WaitingDuration - RaceGame.Instance.TimeSinceStateStarted;
					<div>@( $"Next race starting in {waitTimeRemaining.AsTimeFormatted( true )}" )</div>

					if ( Player.Local.Queued )
					{
						<div class="prompt">Queued for the next race. Press
							<Image
								Texture="@Input.GetGlyph( "Reload", InputGlyphSize.Small, GlyphStyle.Knockout )"/>
							to cancel.
						</div>
					}
					else
					{
						<div class="prompt">Press
							<Image
								Texture="@Input.GetGlyph( "Reload", InputGlyphSize.Small, GlyphStyle.Knockout )"/>
							to join the race.
						</div>
					}
				}
			</div>
			<div class="money">
				<div>@( $"${Player.Local?.Money}" )</div>
			</div>
		}
		
		<!--<GaragePanel />-->
	}
</root>

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine( Player.Local?.Money, RaceGame.Instance?.QueuedPlayers, RaceGame.Instance?.RacingPlayers, RaceGame.Instance?.TimeSinceStateStarted.Relative );
	}
}
