Speedometer {
	position: absolute;
	bottom: -150px;
	left: 50px;
	width: 600px;
	align-items: flex-start;
	filter: border-wrap(4px #000000) drop-shadow(0px 0px 35px rgba(0, 0, 0, 1));

	.gauge {
		width: 330px;
		height: 330px;
		background-color: rgb(37, 37, 37);
		border: 35px solid rgba(0, 0, 0, 0.4);
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
	}

	.tick-container {
		position: absolute;
		top: 15px;
		left: 165px;
		width: 0;
		height: 150px;
		transform-origin: bottom;

		.tick {
			position: absolute;
			top: -5px;
			width: 3px;
			height: 15px;
			background-color: rgba(255, 255, 255, 0.8);
			border-radius: 4px;
		}

		.subtick {
			top: 2px;
			width: 2px;
			height: 7px;
			background-color: rgba(255, 255, 255, 0.04);
			transform-origin: top;
		}
	}

	.label-container {
		position: absolute;
		top: 45px;
		left: 165px;
		width: 0;
		height: 120px;
		transform-origin: bottom;

		.label {
			position: absolute;
			top: -3px;
			left: -20px;
			width: 40px;
			text-align: center;
			color: rgba(255, 255, 255, 0.8);
			font-size: 10px;
		}
	}

	.needle {
		position: absolute;
		width: 4px;
		height: 145px;
		background-color: red;
		left: 164.5px;
		bottom: 50%;
		border-radius: 4px;
		transform-origin: 1.5px bottom;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
		transition: all 0.05s ease;
	}

	.needle-dot {
		position: absolute;
		left: 161px;
		bottom: 160px;
		width: 10px;
		height: 10px;

		border-radius: 50%;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
	}

	.speed-display {
		color: white;
		font-size: 22px;
		white-space: nowrap;
		position: absolute;
		bottom: 180px;
		width: 55%;
		left: 0px;
		text-align: center;
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	}
}
