{
  "Version": 2,
  "Mixers": {
    "Guid": "ecf6e9e7-ed68-4782-89a7-800af5b70c9b",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "c0774edb-4991-40f3-91f4-d0fdebf50681",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "6ec67e17-4c26-4a90-bbf4-60c8f0f349fb",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "e011339e-8cfa-47b2-9d5e-c2bde57d63bd",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "5e1e1a2a-9fb0-445d-9041-61758a1718e5",
        "Name": "Vehicles",
        "Volume": 0.6501746,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "64969df7-82d0-4e25-bb69-e7ffc137d57b",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}