@inherits Panel
@namespace SBRacer.Ui

<root>
	<div class="header" onclick=@Expand>
		@Title
		<div class="expand-icon">@( Expanded ? "expand_less" : "expand_more" )</div>
	</div>
	<div class="items">
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
	</div>
</root>

@code {
	private DropdownContainer DropdownParent => Parent as DropdownContainer;
	private bool Expanded { get; set; }

	public string Title { get; set; } = "Title";

	protected override void OnAfterTreeRender( bool firstTime )
	{
		base.OnAfterTreeRender(firstTime);
		
		BindClass( "active", () => Expanded );
	}

	public void Expand()
	{
		if ( !DropdownParent.IsValid() )
			return;
		
		DropdownParent.ExpandedTab?.Collapse();
		DropdownParent.ExpandedTab = this;
		
		Expanded = true;
	}

	public void Collapse()
	{
		Expanded = false;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Expanded );
	}

}
