@inherits Panel
@namespace SBRacer.Ui

<root>
	<div class="title" onclick=@Expand>Tab title</div>
	<div class="items">
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
		<div class="item">Hi</div>
	</div>
</root>

@code {
	public DropdownContainer DropdownParent => Parent as DropdownContainer;
	
	public void Expand()
	{
		DropdownParent.ExpandedTab?.Collapse();
		DropdownParent.ExpandedTab = this;
		
		SetClass("active", true  );
	}

	public void Collapse()
	{
		SetClass("active", false  );
	}
}
